.simplePopupBackground {
    display: none;
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.simplePopupClose {
    float: right;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.simplePopup {
    display: none;
    position: fixed;
    border: 4px solid #BDB6B6;
    background: #F9F9F9;
    z-index: 10;
    color: #060606;
    padding: 12px;
    /*  width: 90%;
      min-width: 90%;*/
}
#report-abuse table tr td {
    border-top: 1px solid #FFFFFF;
}

form#respond input, form#respond textarea {
    width : 100%;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left: 0px;
}

form#respond #submit {
    width: 40%;

}

.wcmp_main_page .popup-overlay {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    height: 100%;
    left: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s ease-out 0s;
    width: 100%;
    z-index: 999;
}
.wcmp-overlay .popup-overlay {
    left: 0;
    opacity: 1;
}
.popup {
    left: 50%;
    position: fixed;
    top: 18%;
    z-index: -9999;
}
.popup .popup-body {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%) repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
    margin-left: -160px;
    min-height: 150px;
    opacity: 0;
    padding: 20px;
    position: relative;
    text-align: center;
    transition: opacity 0.2s ease-out 0s;
    width: 300px;
}
.popup.visible, .popup.transitioning {
    z-index: 9999;
}
.popup.visible .popup-body {
    opacity: 1;
}
.popup .popup-exit {
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    right: 195px;
    top: 150px;
    width: 24px;
}
.wcmp-report-abuse-error {
    color: red;
    font-size: 12px;
}