.vendor_city, .vendor_address_2, .vendor_address_1, .vendor_company, .vendor_postcode, .vendor_state, .vendor_country, .vendor_phone, .commission, .paypal_email, .user_meta_image {
	margin-top: 4px;
	width: auto;
}

.vendor_address_1 {
	margin-right: 14.5%;
}
.vendor_company {
	margin-right: 10%;
}
.vendor_address_2 {
 margin-right: 14.5%;
}
.vendor_city {
	 margin-right: 18%;
}

.vendor_postcode {
	 margin-right: 15%;
}
.vendor_state {
	margin-right: 17.5%;
}

.vendor_phone {
   margin-right: 17%;	  
}
.vendor_country{
	 margin-right: 16%;
}
.commission {
  margin-right: 11%;
}
.paypal_email {
	margin-right: 13%;
}
.user_meta_image {
	 width: 21%;
}
#wp-vendor_description-wrap {
	float: left;
  width: 66%;
  margin-bottom: 30px;
}
.vendor_description {
  float: left;
  width: 20.5%;
}
.vendor_hide_description {
	clear: both;
}