.box_data {
	padding: 10px;
}
.pad_left {
	padding-left: 10px;
}
.bars span {
	height: 15px !important;
}

.bar1, .bar2 {
	width: 30px;
	height: 15px;
	float: left;
}
.bar1 {
	background-color: #ef6448;
	border-radius: 3px;
}
.bar2 {
	background-color: #1dbb5c;
	border-radius: 3px;
}
.bar_indecator span {
	float: left;
	margin-left: 10px;
	margin-right: 45px;
}
.bar_indecator {
	float: left;
	margin-top: 16px;
	margin-left: 100px;
}
.sort_chart h4 {
	float: left;
}
.sorting_box {
	float: right;
	margin-top: 7px;
}
.bars span.alt {
	margin-top: 14px !important;
}
.bars span.main {
	margin-top: 2px !important;
}
.vendor_report_search, .product_report_search{
	cursor: pointer;
}

.sorting_box input {
	display: none;
}

.low_to_high_btn_vendor, .low_to_high_btn_product {
	background-color: #FAF8F9;
	width: 29px;
	height: 29px;
	border-radius: 5px;
	border-top: solid 1px #d6c9c6;
	border-left: solid 1px #d6c9c6;
	border-right: solid 2px #d6c9c6;
	border-bottom: solid 3px #d6c9c6;
}
.high_to_low_btn_vendor, .high_to_low_btn_product {
	background-color: #ECEAED;
	width: 29px;
	height: 29px;
	border-radius: 5px;
	border-top: solid 1px #B2B0B1;
	border-left: solid 1px #B2B0B1;
	border-right: solid 1px #B2B0B1;
	border-bottom: solid 1px #B2B0B1;
}

.low_to_high_btn_vendor:hover, .low_to_high_btn_product:hover, .high_to_low_btn_vendor:hover, .high_to_low_btn_product:hover {
	cursor: pointer;
}

.bars span {
	background-color: #ef6448 !important;
}
.bars span.alt {
	background-color: #1dbb5c !important;
}

i.fa-arrow-up {
	color: #AF938F;
	font-size: 16px;
}

i.fa-arrow-down {
	color: #AF9692;
	font-size: 16px;
}
