/*
 Theme Name:     Kfesta
 Theme URI:      http://wordpress.novarostudio.com/constance
 Description:    Kfesta is a simple ecommerce wordpress theme suitable for any kind of ecommerce sites.
 Author:         novaro studio
 Author URI:     http://www.novarostudio.com/
 Template:       constance
 Version:        1.0.6
*/
 
@import url("../constance/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */

.page-id-2289 .row .nine {
    width: 100%;
}
.page-id-2289 aside#sidebar {
    display: none;
}


