<fieldset>
    <legend class="screen-reader-text">Post Formats</legend>
    <div class="wcmp-vendor-form-field-content">
        <div class="wcmp-vendor-form-input-field-container">
            <label>Label</label>
            <input type="text" ng-model="field.label" class="wcmp-vendor-form-input-field" />
        </div>
        <div class="wcmp-vendor-form-input-field-container">
            <label>Recaptcha Script</label>
            <textarea cols="20" rows="3" ng-model="field.script" class="wcmp-vendor-form-input-field"></textarea>
        </div>
        <div class="wcmp-vendor-form-input-field-container">
            <span>Use <a href="https://www.google.com/recaptcha/intro/index.html">Google recaptcha</a></span>
        </div>
<!--        <div class="wcmp-vendor-form-input-field-container">
            <input type="checkbox" class="wcmp-vendor-form-input-field" ng-model="field.required" ng-checked="field.required" />
            <label> Required</label>
        </div>-->
        <div class="wcmp-vendor-form-input-field-container">
            <a href="#" ng-click="removeFormField($index, $event)" class="wcmp-remove-form-field">Remove</a>
    </div>
</fieldset>