/*------------------------------------------------------------------
[Table of contents]

1. Global Elements
2. Global Container
3. Header & Menu
4. Afterheader / #outerafterheader
5. Slider
6. Slider Video
7. Middle Content - #outermain
8. Blog / Posts Style
9. Sidebar
10. Footer / #footerwrapper
11. Other Elements
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. Global Elements]
*/

/* Main global 'theme' and typographic styles */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	-webkit-font-smoothing:antialiased;
	margin:0 auto;
	padding:0;
	line-height:20px;
}

/* links */
a, a:visited{text-decoration:none; outline:none !important;}
a:hover{text-decoration:none;}
a:active{outline:none !important;}
a{
transition: color 0.4s;
-moz-transition: color 0.4s; /* Firefox 4 */
-webkit-transition: color 0.4s; /* Safari and Chrome */
-o-transition: color 0.4s; /* Opera */
}

/* heading */
h1, h2{margin-bottom:24px; font-weight:700;}
h3, h4{margin-bottom:18px; font-weight:700;}
h5, h6{margin-bottom:12px; font-weight:700;}
h1	{font-size:36px; line-height:44px; }
h2	{font-size:30px; line-height:39px}
h3	{font-size:24px; line-height:32px}
h4	{font-size:18px; line-height:24px;}
h5	{font-size:16px; line-height:22px;}
h6	{font-size:14px; line-height:20px;}
.smallmargin{margin-bottom:12px;}
.largetext{font-size:22px; line-height:28px;}
.valignmiddle{line-height:28px; margin-bottom:8px}

/* Text elements */
hr {
	border-width:0;
	height:30px;
	line-height:0;
	margin:0px;
	margin-bottom:30px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}
#content hr {
	height:40px;
	margin-bottom:40px;
}

p {
	margin-bottom:20px;
}

ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	margin:0px 0px 20px 0px;
	padding:0px 10px 0px 40px;
	background-image:url(../images/quote.png); background-repeat:no-repeat; background-position:0px 0px;
	clear:both;
	font-style:italic;
	font-size:16px;
	line-height:22px;
}
	
	
blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

	
blockquote p{ margin:0px;}
blockquote div{}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

code {
	font-family:"Courier New", Courier, monospace;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:solid 4px #ebebeb;
	padding:15px 10px;
}

pre {
	border-left:solid 4px #ebebeb;
	line-height: 18px;
	margin-bottom: 18px;
	padding:20px;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.hidden{display:none !important;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.marginoff{margin:0px;}
.marginthin{margin-bottom:5px !important;}
.marginsmall{margin-bottom:10px !important;}
.marginnormal{margin-bottom:20px !important;}
.marginbig{margin-bottom:35px !important;}
.borderbottom{padding-bottom:12px;}
.fontthin{font-weight:300;}
.fontnormal{font-weight:500;}
.fontbold{font-weight:700;}
.lhbig{line-height:50px;}
.hiddenflow{overflow:hidden;}
.positionleft{float:left;}
.positionright{float:right;}
.blocked{display:block;}
.nineletterspace{letter-spacing:9px;}
.eightletterspace{letter-spacing:8px;}
.sevenletterspace{letter-spacing:7px;}
.sixletterspace{letter-spacing:6px;}
.fiveletterspace{letter-spacing:5px;}
.fourletterspace{letter-spacing:4px;}
.threeletterspace{letter-spacing:3px;}
.twoletterspace{letter-spacing:2px;}
.insetshadow{
	-moz-box-shadow: inset 0 0 5px -1px #000;
	-webkit-box-shadow: inset 0 0 5px -1px #000;
	box-shadow: inset 0 0 5px -1px #000;
}
.inlineblock{display:inline-block;}
.bordertextcontainer{border-width:2px 0px; border-style:solid; padding:10px 0px 7px;}
.fullwidth100{width:100% !important;}

.wrapword{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

/*------------------------------------------------------------------
[2. Global Container]
*/

#subbody{
	width:100%; 
	margin:0px;
    padding-top:0px;
	position:relative;
	right:0px;
	transition:right 0.4s ease;
	-moz-transition:right 0.4s ease;
	-webkit-transition:right 0.4s ease;
}

.nvrshowheadertext #subbody{ right:490px;}
.nvrlayout1.nvrboxed #subbody, 
.nvrlayout2.nvrboxed #subbody{margin:0px auto;}

#outercontainer{width:100%;}
#outerheaderwrapper, #outerheader, #outerafterheader, #outerslider, #outermain,  #outerfootersidebar, #outerfooter{width:100%;}

#subbody .container{max-width:1140px; overflow:visible;}

.innersection{
	padding-top:60px;
	padding-bottom:60px;
}


/*------------------------------------------------------------------
[3. Header & Menu]
*/
#outerheaderwrapper{z-index:100;}
#outertop{background-image:url(../images/bg-header.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;}
body.nvrslideron #outertop{background-image:none !important;}

#togglesidemenu{font-size:12px; font-weight:500; letter-spacing:1px; display:block; position:relative; float:right; text-transform:uppercase; padding:21px 15px 21px 25px;}
#togglesidemenu i{margin-left:8px;}
#headertext{
	padding:0px; 
	width:490px;
	position:fixed;
	top:0px;
	right:-490px;
	bottom:0px;
	overflow:hidden;
	border-width:0px 0px 0px 1px;
	border-style:solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	transition:right 0.4s ease;
	-moz-transition:right 0.4s ease;
	-webkit-transition:right 0.4 ease;
}
#headertext > .container{overflow:auto; margin-right:-200px; padding-right:190px; position:absolute; top:0px; bottom:0px; right:0px; left:0px;}
.nvrshowheadertext #headertext{right:0px;}
.admin-bar #headertext{top:32px;}
.nvrnotopbar #headertext{display:none;}
.nvrnotopbar #togglesidemenu{display:none;}
#headertext #closesidemenu{
	font-family:"FontAwesome";
	font-size:31px;
	line-height:31px;
	width:31px;
	height:31px;
	text-align:center;
	display:block;
	margin:20px auto 50px;
}
#headertext #closesidemenu:before{
	content:"\f00d";
}
#headertext .topicon{float:none; padding-top:6px; margin-bottom:40px; text-align:center;}
#headertext #lang_sel{float:right; height:55px; padding:0px 17px;}
#headertext #lang_sel > ul > li{padding-top:13px !important; width:auto !important;}
#headertext #lang_sel a.lang_sel_sel{border:0px; padding-right:20px; font-weight:700;}
#headertext #lang_sel ul ul {top: 35px; right:0px; left: auto; z-index:104;}

#headertext #sidemenutitle{font-size:32px; line-height:32px; text-align:center; letter-spacing:4px; font-weight:700; margin-bottom:50px; text-transform:uppercase;}
#secondarynav, #secondarynav ul{ margin:0px; padding:0px;}
#secondarynav > li{display:block; text-align:center; width:49.99%; float:left; margin-bottom:30px;}
#secondarynav > li > a{font-size:13px; display:block; margin-bottom:15px; line-height:18px; font-weight:700; letter-spacing:2px; text-transform:uppercase;}
#secondarynav > li:nth-child(odd){clear:both;}
#secondarynav li{padding:0px; list-style-type:none; line-height:35px;}
#secondarynav li:before{position:static; display:inline-block; padding-right:10px;}
#secondarynav li li a{ padding:0px; text-transform:capitalize; font-size:13px; font-weight:500; }

/*---- Front End Login and Register Form
---------------------------------------*/
.frontendmenu{position:static; float:right; margin:0px; padding:0px;}
.frontendmenu li{padding:0px 25px; float:right; font-size:12px; list-style-type:none; }
.frontendmenu li.logoutitem{display:none;}
.frontendmenu li a{ padding:21px 0px; text-transform:uppercase; font-size:12px; line-height:18px; font-weight:500; letter-spacing:1px; display:inline-block; }

.loginformbox{float:right; position:relative;}
.loginformbox .febuttoncontainer{display:block; float:right; position:relative; overflow:hidden; height:65px;}
.loginformbox .febuttoncontainer:hover{overflow:visible;}
body.novaro .loginformbox .febuttoncontainer a.button{
	font-size:12px;
	text-transform:uppercase;
	border:0px;
	font-weight:500;
	line-height:18px;
	letter-spacing:1px;
	padding:21px 25px;
}
.loginformbox .orseparator{display:none;}
.feform{
	position:absolute; 
	top:85px; 
	right:0px; 
	width:260px; 
	border-width:1px; 
	border-style:solid; 
	padding:20px; 
	opacity:0; 
	transition:all .3s; 
	-moz-transition:all .3s; 
	-webkit-transition:all .3s;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	z-index:-1;
}
.febuttoncontainer:hover .feform{top:65px; opacity:1; z-index:10000;}
.login_form .textbox{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%;}
.login_form label{display:block; margin-bottom:5px;}
.login_form .button{width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#forgot-pass-div{display:none;}
.login-links{margin-top:12px;}

/*---- Top Mini Cart
---------------------------------------*/
#topminicart{
	position:relative;
	float:right;
	padding:0px 25px;
	margin-left:-1px;
}
#topminicart .topcartbutton{display:block; text-transform:uppercase; padding:21px 0px; font-size:12px; font-weight:500; letter-spacing:1px; line-height:20px;}
#topminicart .cart_subqty{}
#topminicart .cart_totalqty{
	font-size:12px; 
	letter-spacing:0px;
	line-height:20px;
	font-style:normal; 
	display:block; 
	float:right;
	padding:1px 5px;
	margin-left:4px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
#topminicart .cart_subtotal{display:none;}

.cartlistwrapper{
	position:absolute;
	right:-1px;
	z-index:-1;
	line-height:normal !important;
	width:250px;
	padding:15px;
	top:85px;
	opacity:0; 
	transition:all .3s; 
	-moz-transition:all .3s; 
	-webkit-transition:all .3s;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
}
#topminicart:hover .cartlistwrapper{
	z-index:400;
	opacity:1;
	top:65px;
}
.cartlistwrapper .total{clear:both; padding:7px 0px 15px; border-width:0px 0px 1px; margin-bottom:15px; border-style:solid;}
body.novaro.woocommerce-cart .cartlistwrapper, body.novaro.woocommerce-checkout .cartlistwrapper{display:none !important;}
#topminicart ul.cart_list, #topminicart ul.product_list_widget{
	list-style: none outside;
	padding: 0;
	margin: 0;
}
#topminicart ul.cart_list li, #topminicart ul.product_list_widget li{
	padding: 0px;
	border-width:0px; border-style:solid;
	margin: 0px 0px 10px 0px;
	list-style: none;
	clear:both;
	background:none !important;
	position:relative;
}
#topminicart ul.cart_list li a, #topminicart ul.product_list_widget li a{
	display: block;
	font-weight: normal;
	font-size:13px;
}
#topminicart ul.cart_list li a.remove, #topminicart ul.product_list_widget li a.remove{position:absolute; right:10px; top:50%; margin-top:-15px;}
#topminicart ul.cart_list li img, #topminicart ul.product_list_widget li img {
	float:left;
	padding:3px;
	width:60px;
	margin:5px 15px 12px 0px;
	height: auto;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
#topminicart ul.product_list_widget li div.star-rating{text-indent:-8px; line-height:0.6em; height:2em;}
#topminicart ul.product_list_widget li dl {
	margin: 0;
	font-size: .8751em;
	padding-left: 1em;
	border-left: 2px solid rgba(0,0,0,0.1);
}
#topminicart ul.product_list_widget li dl dt {
	float: left;
	clear: left;
	margin-right: .25em;
}
#topminicart ul.product_list_widget li dl dd {
	margin-bottom: .5em;
}
#topminicart ul.cart_list li .quantity, #topminicart ul.product_list_widget li .quantity{
	float:none;
	clear:both;
	display:inline-block;
	margin-top:13px;
}
#topminicart .cartlistwrapper p.buttons{margin-bottom:0px;}
#topminicart .cartlistwrapper p.buttons a{
	display:inline-block;
	padding:10px 0px;
	width:47%;
	margin:0px 1%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	text-shadow:none;
}
#outerheader{
	position:relative;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	transition:background-color .2s ease-in-out, border .2s ease-in-out;
	-moz-transition:background-color .2s ease-in-out, border .2s ease-in-out;
	-webkit-transition:background-color .2s ease-in-out, border .2s ease-in-out;
	-o-transition:background-color .2s ease-in-out, border .2s ease-in-out;
}

#outerheaderclone, #outerheader.sticky{position:fixed; right:0px; width:100%; opacity:0.9; z-index:1000; border-width:0px 0px 1px 0px; border-style:solid; z-index:300; overflow:hidden; transition:right 0.4s ease; -moz-transition:right 0.4s ease; -webkit-transition:right 0.4s ease;}
#outerheaderclone{top:-200px;}
#outerheaderclone.sticky, #outerheader.sticky{top:0px;}
.nvrshowheadertext #outerheaderclone.sticky, .nvrshowheadertext #outerheader.sticky{right:490px;}
#outerheaderclone:hover, #outerheader.sticky:hover{overflow:visible;}
#outerheaderclone .searchbox{display:none;}
.admin-bar #outerheaderclone.sticky, .admin-bar #outerheader.sticky{margin-top:32px;}
.secondarymenu ul{padding:0px;margin:0px; float:right;}
.secondarymenu li{
	list-style-type:none;
	display:block;
	float:right;
	margin-left:10px;
	font-size:14px; 
	font-weight:500;
}
.secondarymenu a{
	text-decoration:none!important;
	display:		block;
	position:		relative;
	padding: 		10px 14px 10px 14px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight:500;
	letter-spacing:0px;
	font-size:14px;
}


/* Header's height */
div.logoimg{padding:12px 0px 12px;}
div.logoimg a{display:block;}
.leftlogotext{display:none;}
.rightlogotext{display:none;}
div.logoimg img{display:block; height:26px; width:auto;}
.topnav li:hover ul, .topnav li.sfHover ul {top: 65px;}
#topminicart{height:65px;}
.searchbox input.submit{height:65px;}

div.logoimg img.lightlogo{display:none;}
div.logo h1{margin-bottom:0px; letter-spacing:-1px;}
a.nav-toggle{height:84px; line-height:84px;}

/* Menu */
.navcontainer{float:right;}
.toptext{font-size:13px; line-height:20px; padding:25px 0px 15px; border-width:0px 0px 1px 0px; border-style:solid; display:none;}
section.navigation{
	float:right;
	margin-top:21px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
a.nav-toggle{display:none;}
a.nav-toggle:before{content:"\f0c9";}
.nvr_mega_menu a.mobile_toggle{display:none;}
ul.topnav{
	margin:0;
	padding:0px;
	list-style-type:none;
	overflow:visible;
	position:relative;
}

.topnav > li > a {
	text-decoration:none!important;
	display:		block;
	position:		relative;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:1px;
	font-size:12px;
	padding-bottom:0px ;
}

.topnav li a.with_icon i{margin-right:4px;}

.topnav > li {
	display:inline-block;
	position:		relative;
	margin:0;
	padding:0px 25px;
	letter-spacing:0px;
}
.topnav > li.fa{padding-left:17px;}
.topnav > li:before {
	font-size:12px;
    bottom: auto;
    display: block;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    z-index: -1;
}

.topnav > li.menu-item-has-children > a:after {
	padding-left:6px;
	font-size:10px;
	font-family:"FontAwesome";
	content:"\f0d7";
}
.topnav > li.default_dropdown > ul.mega_dropdown li.menu-item-has-children:after{
	font-size:9px;
    bottom: auto;
	width:9px;
	height:9px;
    display: block;
    position: absolute;
    left: auto;
	right: 5px;
    top: 11px;
	font-family:"FontAwesome";
	content:"\f0da";
}

ul.topnav > li.default_dropdown li a{
	display:block;
	font-size:11px;
	line-height:normal;
	text-align:left;
	padding:11px 10px;
	text-transform:uppercase;
	font-weight:300;
}

ul.topnav li.default_dropdown{
	position:relative;
}

ul.topnav > li.default_dropdown ul.mega_dropdown{
	margin:0px 0px 0px 2px;
	display:block;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	width:200px;
	padding:0px;
	position:absolute;
	top:80px;
	left:100%;
	opacity:0;
	z-index:-1;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	transition-delay:0.3s;
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
}

ul.topnav li:hover > ul.mega_dropdown{
	z-index:1000;
	opacity:1;
	top:-1px;
	left:100%;
}

ul.topnav > li.default_dropdown > ul.mega_dropdown{
	top:80px;
	left:0px;
	margin:0px;
}
ul.topnav > li.default_dropdown:hover > ul.mega_dropdown{
	top:66px;
	left:0px;
}

ul.topnav > li.default_dropdown ul.mega_dropdown > li{
	padding:0px 15px;
}

ul.topnav > li.multicolumn_dropdown.submenu_full_width{position:static;}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown{
	margin:0px;
	display:block;
	width:500px;
	padding:10px 20px;
	position:absolute;
	top:80px;
	left:0px;
	opacity:0;
	z-index:-1;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	transition-delay:0.3s;
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
}
ul.topnav > li.multicolumn_dropdown.columns1 > ul.mega_dropdown{width:260px;}
ul.topnav > li.multicolumn_dropdown.columns3 > ul.mega_dropdown{width:700px;}
ul.topnav > li.multicolumn_dropdown.columns4 > ul.mega_dropdown{width:850px;}
ul.topnav > li.multicolumn_dropdown.columns5 > ul.mega_dropdown{width:1000px;}

ul.topnav > li.multicolumn_dropdown.submenu_full_width > ul.mega_dropdown{width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

ul.topnav > li.multicolumn_dropdown:hover > ul.mega_dropdown{
	z-index:1000;
	opacity:1;
	top:66px;
}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown > li{
	display:block;
	float:left;
	padding-bottom:20px;
}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown li a{
	border-width:0px;
	text-transform:uppercase;
}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown > li > a{
	font-weight:800;
	margin-bottom:10px;
	display:block;
}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown > li ul{
	display:block;
	margin:0px;
	padding:0px;
	background:none;
}

ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown > li ul li{
	display:block;
	margin:0px;
	padding:0px;
	background:none;
}
ul.topnav > li.multicolumn_dropdown > ul.mega_dropdown > li ul li > a{
	display:block;
	font-weight:500;
	font-size:11px;
	padding-top:2px;
	padding-bottom:2px;
	border-width:0px;
}

/*------------------------------------------------------------------
[4. After Header - #outerafterheader]
*/

#outerafterheader{
	padding:120px 0px 120px; 
	border-bottom:0px solid;
	transition:padding 1s ease-in-out;
	-moz-transition:padding 1s ease-in-out;
	-webkit-transition:padding 1s ease-in-out;
	-o-transition:padding 1s ease-in-out;
}
#afterheader{}
#aftertheheader{}
#afterheader .pagetitle{font-size:40px; line-height:40px; letter-spacing:5px; margin-top:0px; margin-bottom:0px; text-transform:uppercase; text-align:center; font-weight:700;}
#afterheader .pagedesc{font-size:16px; line-height:normal; font-weight:500; font-style:italic; display:block; margin-top:15px; text-align:center;}
#afterheader .pagedesc p{margin:0px;}
#breadcrumbcontainer{text-align:center; margin-top:10px;}
.nvr-breadcrumb{font-size: 12px; font-weight: 700 !important; text-transform: uppercase;}


/*------------------------------------------------------------------
[5. Slider - .slidercontainer]
*/

body.novaro #slidercontainer{width:100%; margin:0px auto 0px auto; border:0; max-width:none; }
#slider{width:100%; position:relative;}
#slideritems{padding:0px;}

.flexslider.preloader{
	min-height:300px;
	background-image:url(../images/ajax-loader.gif); background-repeat:no-repeat; background-position:center center;
}
#slider .flex-control-nav{bottom:13px;}

#subbody .flex-direction-nav a{
	width: 20px;
	height: 20px;
	z-index:100;
	top:50%;
	margin-top: -13px;
	font-family:'line-icons';
	font-size: 9px;
	line-height: 20px;
	text-align:center;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	text-indent:0px !important;
}
#subbody .flex-direction-nav a.flex-prev{left:15px;}
#subbody .flex-direction-nav a.flex-prev:hover{left:11px;}
#subbody .flex-direction-nav a.flex-prev:before{content:"r";}
#subbody .flex-direction-nav a.flex-next{right:15px;}
#subbody .flex-direction-nav a.flex-next:hover{right:11px;}
#subbody .flex-direction-nav a.flex-next:before{content:"s";}
#subbody .flex-control-nav{bottom:20px;}
#subbody .flex-control-nav li a{background:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; width:8px; height:8px;}
#slideritems ul.slides > li{background-size:cover; background-repeat:no-repeat; background-position:center;}
#slider .flex-caption{position:absolute;top:50%;left:50%;padding:0px; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
#slider .text-caption{padding-top:75px;}
#slider .text-caption.left .caption-content{width:40%; padding-right:10%;float:left; margin-top:60px;}
#slider .text-caption.right .caption-content{width:50%; padding-left:0%;float:right; margin-top:20px;}
#slider .text-caption.top{padding-top:0px;}
#slider .text-caption.top .caption-content{text-align:center;}
#slider .caption-content h2{
	line-height:normal;
	font-weight:700;
	letter-spacing:0px;
	padding:5px 0px;
	font-size:48px;
	margin-bottom:15px;
	text-transform:uppercase;
	width:480px;
	border-width:1px 0px;
	border-style:solid;
}
#slider .caption-content .slidertoptext{
	font-size:13px;
	font-weight:500;
	letter-spacing:6px;
	text-align:center;
	max-width:480px;
	margin:0px 0px 5px;
	width:100%;
}
#slider .caption-content div{line-height:24px; font-size:16px;}
#slider a.sliderbutton{
	border:1px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:24px auto 0px auto;
	padding:14px 40px 14px 40px;
	display:inline-block;
	font-size:13px;
	line-height:100%;
	font-weight:700;
	letter-spacing:1px;
	text-align:center;
	text-transform:uppercase;
}

#slider .flex-control-paging li a.flex-active {cursor: pointer;}

/*------------------------------------------------------------------
[6. Breadcrumb]
*/

div.breadcrumb{
	font-size:11px; 
	line-height:12px;
	margin-bottom:27px; 
	margin-top:-27px;
	-webkit-text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
	-moz-text-shadow:    0px 1px 4px rgba(0, 0, 0, 0.55);
	text-shadow:         0px 1px 4px rgba(0, 0, 0, 0.55);
}
div.breadcrumb a{
	font-weight:700;
	text-decoration:none;
}
div.breadcrumb a:hover{
	text-decoration:underline;
}


/*------------------------------------------------------------------
[7. Middle Content - #outermain]
*/

body.nvrfullwidthcontent #outermain #main-gradienttop > .container{max-width:none;}
body.nvrfullwidthcontent #maincontent{padding:0px;}
#maincontent > #content{float:left;}
#maincontent > #sidebar{float:right;}
#maincontent.two-col-right > #content{float:right;}
#maincontent.two-col-right > #sidebar{float:left;}

#outerbeforecontent{ 
	-moz-box-shadow: inset 0 0 2px 0 #48c9b0;
	-webkit-box-shadow: inset 0 0 2px 0 #48c9b0;
	box-shadow: inset 0 0 2px 0 #48c9b0;
}
#beforecontent > .columns{
	height:94px;
	overflow:hidden;
}
#beforecontent > .beforecontenttext{
	height:auto;
	padding-top:35px;
	padding-bottom:35px;
}
.parallax, .parallax-container{background-position:50% 0px; background-attachment:fixed; background-repeat:no-repeat;}

.topproductfiltercontainer{position:relative; margin:0px; border-width:1px 0px; border-style:solid;}
body.novaro .isotope-filter-container{clear:both; float:left; padding-top:35px; padding-bottom:35px;}
.isotope-filter-container .isotope-filter{margin:0px; display:block; padding:0px; }
.isotope-filter-container .isotope-filter li{width:auto; display:inline-block; padding:0px 15px; font-size:13px; line-height:20px; font-weight:500; letter-spacing:1px; text-transform:uppercase; margin:0px 5px; position:relative;}
.isotope-filter-container .isotope-filter li:before{content:""; display:block; position:absolute; left:-5px; top:4px; width:2px; height:13px; -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg);}
.isotope-filter-container .isotope-filter li.firstfilter:before{display:none;}

#widget-filter-container{position:static; float:right; width:12.5%; height:90px; margin-left:-1px; padding:0px; border-width:0px 1px; border-style:solid;}
#widget-filter-container > a{line-height:90px; font-size:13px; font-weight:500; text-transform:uppercase; display:block; height:90px; text-align:center;}
#widget-filter-container .widget-area{
	display:none; 
	position:absolute; 
	top:130px; 
	right:0px; 
	left:0px; 
	z-index:30; 
	transition:top 0.4s ease;
	-moz-transition:top 0.4s ease;
	-webkit-transition:top 0.4s ease;
	border-width:0px 0px 1px; 
	border-style:solid; 
}
#widget-filter-container.shown .widget-area{top:100%;margin-top:1px;}
#widget-filter-container #widget-filter-button .fa-close, #widget-filter-container #widget-filter-button .closeword{display:none;}
#widget-filter-container.shown #widget-filter-button .fa-close, #widget-filter-container.shown #widget-filter-button .closeword{display:inline;}
#widget-filter-container.shown #widget-filter-button .fa-filter, #widget-filter-container.shown #widget-filter-button .filterword{display:none;}
.widget-nvr-woofilter ul{padding:0px; margin:0px; list-style-type:none;}
.widget-nvr-woofilter ul li.widget-container{float:right; width:25%; padding:35px 55px 35px 25px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.widget-nvr-woofilter ul li.widget-container li{margin-bottom:7px;}
.nvr1100more .widget-nvr-woofilter ul li.widget-container{padding-left:35px;}
#widget-filter-container .widget-nvr-woofilter .widget-title{font-size:13px; letter-spacing:0px; font-weight:500; color:#000;}

.topproductfiltercontainer .searchbox{position:static; float:right; width:12.5%; height:90px; padding:0px; margin-left:-1px; border-width:0px 1px; border-style:solid;}
.topproductfiltercontainer .searchbox #topsearchform .submit{display:none;}
.topproductfiltercontainer .searchbox #topsearchform .submittext{display:block; height:90px; padding:0px; margin:0px; text-align:center; border:0px; text-transform:uppercase; font-size:13px; font-weight:500; line-height:90px; background-color:transparent; width:100%; outline:none;}
.topproductfiltercontainer .searchbox .searcharea{ 
	display:none; 
	padding:45px 30px; 
	position:absolute; 
	top:130px; 
	right:0px; left:0px; 
	z-index:300; 
	border-width:0px 1px 1px; 
	border-style:solid; 
	transition:top 0.4s ease;
	-moz-transition:top 0.4s ease;
	-webkit-transition:top 0.4s ease;
}
.topproductfiltercontainer .searchbox.shown .searcharea{top:100%; margin-top:1px;}
.topproductfiltercontainer .searchbox .searcharea .txtsearch{ width:100%; padding:0px; outline:none !important; font-size:24px; line-height:24px; border:0px;}
.topproductfiltercontainer .searchbox .searchclose{
	font-family:"FontAwesome";
	font-size:22px;
	line-height:22px;
	height:22px;
	position:absolute;
	bottom:50%; right:30px;
	z-index:20;
	margin-bottom:-11px;
}
.topproductfiltercontainer .searchbox .searchclose:before{
	content:"\f00d";
}

/* SECTION VIDEO BACKGROUND - Start 
-------------------------------------------------------------- */

.stripecontainer .mobile-video-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.stripecontainer .video-overlay {
	height: 3000px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 11;
}

.stripecontainer .video-overlay.active {
	background-image: url("../images/bg-video.png");
	background-position: 0px 0px;
	background-repeat: repeat;
	opacity: 1;
}

.stripecontainer .video-wrap {
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.stripecontainer .video-wrap video{ margin:0px auto; display:block;}

.stripecontainer .video-wrap .mejs-poster {
	background-size: cover!important;
	-moz-background-size: cover!important;
	-webkit-background-size: cover!important;
	-o-background-size: cover!important;
}

.stripecontainer .video-wrap .mejs-container .mejs-controls {
	display: none!important;
}

.stripecontainer .video-wrap .mejs-controls .mejs-button button:focus {
	outline: none!important;
}

.stripecontainer .video-wrap .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-color: rgba(255, 255, 255, 0.18) !important;
}

.stripecontainer .video-wrap .mejs-container {
	background-color: transparent!important;
	background-image: none!important;
	height: auto !important;
}

.stripecontainer .video-wrap .mejs-mediaelement{
	background: none !important;
	border: 0px !important;
}

.stripecontainer .video-wrap .mejs-container .mejs-poster img {
	max-width: none!important;
	width: 100%!important;
}

.stripecontainer .video-wrap .mejs-controls button { opacity: 0.8; }
.stripecontainer .video-wrap .mejs-controls button:hover, .mejs-controls .mejs-fullscreen-button:hover button { opacity: 1!important;}

.stripecontainer .video-wrap .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #1f1f1f none repeat scroll 0 0 !important;	
}

.stripecontainer .video-wrap .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: transparent!important;
}
/* Section Video Background - End */


#outermain{overflow:hidden; padding:60px 0px 60px;}
#maincontent{}
#content{}
.main{padding:0 0px 0 0;}
#content.positionright .main{padding:0 0 0 20px;}
.smalltext, .font11{font-size:11px}
.font12{font-size:12px;}
/* Images Responsive */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* form & button */
form{margin:0; padding:0;}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"],
textarea, input[type="password"]{
	font-size:11px;
	padding:15px 12px;
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
select{
	font-size:11px;
	padding:10px 12px;
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.button, .more-link,
.button:visited,
#maincontent input[type="submit"],
#maincontent input[type="reset"],
#footersidebar input[type="submit"],
#footersidebar input[type="reset"],
 button{
	padding:13px 16px;
	display:inline-block;
	font-size:11px;
	letter-spacing:0px;
	line-height:100%;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	border-width:1px;
	border-style:solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.button:hover, .more-link:hover,
#maincontent input[type="submit"]:hover,
#maincontent input[type="reset"]:hover, button:hover{
	text-decoration:none; 
	cursor:pointer;
}
.button.bigger{padding:14px 35px;}

/* firefox only */
@-moz-document url-prefix() {
	.button,
	.button:visited,
	#content input[type="submit"],
	#content input[type="reset"],
	#content button{
	 padding:4px 15px 7px 15px;
	}
}


/* Tables */
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;text-transform:uppercase;}
td{padding:10px;}
tfoot td{border:0px;}
th,tr:hover{}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 13px 24px 13px;
}
tr td {
	padding: 10px 24px;
	vertical-align:middle;
}
tr.odd td {
}


/*------------------------------------------------------------------
[8. Blog]
*/

article.content-loop{
	margin:0px 0px 70px 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
article .mediacontainer p, article .audiocontainer p{margin:0px;}
article.format-video .mediacontainer{
	position: relative;
	padding-top: 1.5625em;
	padding-bottom: 57.25%;
	height: 0;
	overflow: hidden;
}
article.format-video .mediacontainer iframe, article.format-video .mediacontainer object, article.format-video .mediacontainer embed, .article.format-video .mediacontainer video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
article .mediacontainer iframe{width:100%; height:100%;}
article .audiocontainer iframe{width:100%;}
article .mediacontainer, article .audiocontainer, article .imgcontainer, article .gallerycontainer{margin-bottom:22px;}
article .loopcontainer{position:relative;}
article .meta-format{text-align:center; text-transform:uppercase; font-size:11px; font-weight:700; letter-spacing:2px; margin-bottom:7px;}
article .meta-date{font-size:13px; margin-bottom:18px; text-align:center;}
.posttitle{ position:relative; display:block; line-height:normal; letter-spacing:2px; text-align:center; text-transform:uppercase; font-size:20px; font-weight:700; margin-bottom:7px;}
#singlepost .posttitle{font-size:20px; font-weight:400; text-transform:uppercase; text-align:center; margin-bottom:27px;}
.posttitle a{}
#singlepost .entry-utility{margin-bottom:-1px;}
.entry-utility{
	font-size:13px; 
	font-weight:600; 
	line-height:100%;
	position:relative;
}
.entry-utility:after{
	content:"";
	height:1px;
	position:absolute;
	top:22px;
	left:0px;
	right:0px;
	background-color:#e9e9e9;
	z-index:1;
}
#singlepost .entry-utility:after{display:none;}
.entry-utility div{ float:left; margin:0px; padding-top:16px; padding-right:24px; line-height:13px; position:relative; z-index:2;}
.entry-utility .entry-icon{float:right; height:45px; line-height:45px; width:27px; padding:0px; margin:0px; font-size:13px; text-align:right;}
.entry-utility .meta-comment{margin-bottom:7px; margin-right:0px; float:left;}
.entry-utility .meta-sticky:after, .entry-utility .meta-author:after, .entry-utility .meta-cat:after, .entry-utility .meta-tags:after{ position:absolute; content:""; height:13px; width:1px; right:12px; bottom:0px; transform:rotate(30deg) translate(0px, 0px);}
.entry-utility .meta-sticky{display:none;}
article.sticky .entry-utility .meta-sticky{display:block;}
.loopcontainer .more-link{display:none;}
.entry-utility .more-link.btn{display:inline-block; padding:0px; float:right; background:none; font-weight:700; border:0px; margin-top:-9px;}
.entry-utility a:hover{text-decoration:underline;}
.postimg{margin-bottom:10px;}

article.content-loop code{display:inline; border:0px; padding:0px; margin:0px;}

#singlepost .gallerycontainer, #singlepost .imgcontainer, #singlepost .mediacontainer{margin-bottom:15px;}

#maincontent.twelve.columns .postscontainer.classic{max-width:700px; margin:0px auto;}

article.format-quote .loopcontainer{padding:0px;}
article.format-quote .entry-content{padding:20px;}
article.format-quote blockquote{background-image:url(../images/bg-white10.png); background-repeat:repeat; padding:20px; text-transform:uppercase; font-weight:700; margin:0px;}
article.format-quote .posttitle{background-image:url(../images/bg-arrowwhite10.png); background-repeat:no-repeat; background-position:top center; text-align:center; font-weight:600; font-size:12px !important; text-transform:none; color:#fff; padding:20px 0px 0px 0px; margin:0px;}
article.format-quote .posttitle:after{display:none;}

article.format-aside .loopcontainer{padding:0px;}
article.format-aside .entry-content{padding:40px 20px 20px;}

article.format-link .loopcontainer{padding:0px;}
article.format-link .entry-content{padding:40px 20px 20px; font-size:16px; line-height:22px; font-weight:600;}
article.format-link .entry-content a:hover{text-decoration:underline;}

.postscontainer{position:relative;}
.postscontainer.mason{margin:0px -10px;}
.postscontainer.mason .articlewrapper{
	width:33.2%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0px 10px;
	float:left;
}
.postscontainer.mason .articlewrapper .meta-cat:after{display:none;}
.postscontainer.mason.twocols .articlewrapper{
	width:49.8%;
}
.postscontainer.mason .content-loop{margin-bottom:20px;}
.postscontainer.mason .posttitle{font-size:16px; line-height:22px;}
.postscontainer.mason .entry-utility span{border:0px;}
.postscontainer.mason .meta-comment{display:none;}
#infscr-loading{
	width:200px;
	padding:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#ffffff;
	border:1px solid #eaeaea;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-100px;
	z-index:300;
}
#infscr-loading img{display:block; margin:0px auto 10px;}
#loadmore-paging .loadmorebutton a{padding:20px; font-weight:700; margin-top:-1px; font-size:13px; letter-spacing:2px; display:block; text-align:center; text-transform:uppercase;}

#singlepost .post{margin-bottom:0px;}

#searchresult .hentry{margin-bottom:45px;padding-bottom:8px;}
#searchresult .entry-content{}
#searchresult .posttitle a, #searchresult .posttitle a:visited{}

#postattachment .entry-utility{width:100%; float:none; padding:0; border:0px; margin-bottom:20px;}
.entry-attachment{margin-bottom:20px;}


/* author */
h2.entry-author-title{ font-size:13px; line-height:normal; font-weight:700; text-transform:uppercase;}
#entry-author-info {
	clear: both;
	margin-bottom:30px;
	position:relative;
	padding:20px;
	border-width:0px 0px 1px 0px;
	border-style:solid;
}
#entry-author-info #author-avatar {
	margin: 0 15px 0 0;
	float:left;
}
.avatar{display:block}
#entry-author-info #author-description {
	margin: 0 85px 10px 0; vertical-align:top; overflow:hidden;
}
#entry-author-info #author-description  h2{font-size:16px; font-weight:700; line-height:16px; margin-bottom:12px;}
#author-description span.author{display:block}

/* attachment pages wordpress */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* images content */
.alignleft,
img.alignleft {
	float: left;
	margin-right: 25px;
}
.alignright,
img.alignright {
	float: right;
	margin-left: 25px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
}
img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
.frameimg{
	border:1px solid;
	margin-bottom:12px;
	padding:5px;
	overflow:hidden;
	position:relative;
}
.frameimg img{margin:0px !important; display:block;}

#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 9px 9px 4px 9px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	max-width:100%;
}
#content .wp-caption img {
	margin: 0px;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 11px;
}
#content .wp-smiley {
	margin:0;
}
#maincontent .gallery {
	margin: auto;
}
#maincontent .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#maincontent .gallery img {
	border: 2px solid #cfcfcf;
}
#maincontent .gallery .gallery-caption {
	color: #888;
	font-size: 11px;
	margin: 0 0 12px;
}
#maincontent .gallery dl {
	margin: 0;
}
#maincontent .gallery img {
	border: 10px solid #f1f1f1;
}
#maincontent .gallery br+br {
	display: none;
}
#maincontent .gallery.gallery-columns-2 .gallery-item{
	width:49%;
}
#maincontent .gallery.gallery-columns-3 .gallery-item{
	width:33%;
}
#maincontent .gallery.gallery-columns-4 .gallery-item{
	width:24%;
}
#maincontent .gallery.gallery-columns-5 .gallery-item{
	width:20%;
}
#maincontent .gallery.gallery-columns-6 .gallery-item{
	width:16.65%;
}
.tag-links{padding:10px 0; display:block}


/* navigation  */
.navigation {
	line-height: 20px;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
	text-align: right;
}
.nav-previous a, .nav-next a{
	font-size:12px;
	padding:8px 15px;
}

#prevnext-post-link{width:100%;border-width:1px 0px; border-style:solid;}
#prevnext-post-link .nav-next, #prevnext-post-link .nav-previous{padding:30px 0px; width:50%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; float:left; text-align:center; border-right:1px solid #d7d7d7;}
#prevnext-post-link .nav-next{ border-left:1px solid #d7d7d7; margin-left:-1px; border-right:0px; float:right;}
#prevnext-post-link .nav-next.positionleft{float:left;}
#prevnext-post-link .navarrow{float:left; font-size:40px; padding:6px 0px 0px;}
#prevnext-post-link .nav-next .navarrow{float:right;}
#prevnext-post-link .nav-next a, #prevnext-post-link .nav-previous a{ padding:0px; border:0px; font-size:12px; font-weight:bold;}
#prevnext-post-link .navtext{display:inline-block; font-weight:700; margin-bottom:8px; text-transform:uppercase;}
#prevnext-post-link .prevnexttitle{font-size:16px; font-weight:700;}
.prevthumb, .nextthumb{display:block; float:left; width:89px; margin:0px 12px 0px 0px;}
.nextthumb{float:right;  margin:0px 0px 0px 12px;}

#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	padding:0; font-size:12px; margin:30px 0 0 0; clear:both; text-align:right
}


/* Comments */
#comments{
	margin-top:0px;
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title{
	line-height:24px;
	padding:0px 0px;
	margin:30px 0 20px 0;
	font-size:16px;
	text-transform:uppercase;
}

h3#reply-title {
	font-size:16px;
	line-height:22px;
	font-weight:500;
	text-transform:uppercase;
	margin:0 0 15px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	margin-bottom:0px;
}
.commentlist li.comment {
	margin: 0 0 14px 0px;
	padding: 0 0 0px 0px;
	position: relative !important;
}
.commentlist li.comment ul.children{margin:14px 0 0 0px; padding:0px 0 0 0px;}
.commentlist li.comment ul.children li{border-bottom:0 !important; margin:0px 0px 14px 0px; padding:0px 0px 0px 70px;}
.commentlist li.comment ul.children li:last-child{margin-bottom:0px;}
#comments .comment-body ul,#comments .comment-body ol {
	margin-bottom: 0;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding:0px;
	background-color:transparent;
}
.comment-body cite {
	font-size:14px;
	line-height:14px;
	font-style:normal;
}

.comment-body cite  a, .comment-body cite  a:visited{}
.comment-body cite  a:hover{text-decoration:none}
.comment-author .says {	font-style: normal;}
.comment-meta {	font-size: 11px;	margin: 0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	
}
.commentlist .even {}
.commentlist .bypostauthor {}

.reply a.comment-reply-link{ }

.edit-link{float:none; clear:both;}
a.comment-edit-link {
	
}
a.comment-edit-link:hover {
	text-decoration:none
}
.commentlist .children {
	list-style: none;
}
.commentlist .children li {}
.nopassword, .nocomments {display: none;}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 12px;
}
.con-comment{padding:13px 0px; position:relative; border-width:0px 0px 1px 0px; border-style:solid;}
.commentlist .comment-author{ 
	position:absolute;
	top:13px;
	left:0px;
}
.commentlist .comment-body{width:auto; margin-bottom:0px !important; margin-left:90px;}
.commenttext{margin:0 0 0 0; padding:0 0 0 0;}
.commentlist .comment-body p{margin-bottom:10px !important}
.commentlist ul.children .comment-author{}
.commentlist ul.children .comment-body{}
*+html .commentlist .comment-body{margin-top:0}

.comment-body .fn{}
.comment-body .time{font-size:11px; padding:0 0px 6px 0px; display:block; text-transform:uppercase;}
.commentlist .comment-body .reply{
	position:absolute;
	top:20px; 
	right:0px;
	font-size:14px;
	line-height:100%;
	font-weight:500;
	text-align:center;
	cursor:pointer;
	border:0px solid;
}
.comment-body .boldtext{font-weight:normal; font-size:22px}

/* Comments form */
#commentform{padding:0; }
#commentform label{margin-top:0px; padding:5px 0; display:inline-block;}
#commentform .required{}
#commentform code{padding:0; margin:10px 0; border:0}

#commentform input[type=text], #commentform input[type=email]{ 
	margin-bottom:3px;
	padding:8px 5px;
	vertical-align:middle;
	width:50%;
	font-size:12px;
	display:block;
	page-break-after:always
	
	}

#commentform textarea{ 
	width:95%;
	margin-bottom:12px;
	padding:8px 5px;
	vertical-align:top;
	font-size:12px;
	display:block;
	}
	
#respond .comment-reply{
	font-size: 20px;
	line-height:24px;
	padding:0px 0px;
	margin:0 0 10px 0;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 0px 0 0;
}
.cancel-comment-reply{font-size:12px;}
h3#reply-title {
	margin: 22px 0px 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
	padding:0;
}
#cancel-comment-reply-link {
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
}
#respond label {
}
#respond input {
}
#respond textarea {
}
#respond .form-allowed-tags {
}
#respond .form-allowed-tags code {
}
#respond .form-submit {
	margin: 12px 0;
	clear:both;
}
#respond .form-submit input {
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment{}
.comment-form-comment{ width:100%;}
.form-submit{ clear:both;}

.entry-content .widget-title{ border-bottom:0px; text-align:center;}
.entry-content .widget-title span{display:inline-block; padding-bottom:5px;}

/* Calendar */
.widget_calendar #wp-calendar {
	width: 98%;
	text-align:left;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding:3px !important;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 800;
	padding: 5px 0 3px 0 !important;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	font-weight: bold;
	padding:3px !important
}
.widget_calendar #wp-calendar tfoot td {
}
#today{font-weight:bold}


/*------------------------------------------------------------------
[9. Sidebar - #sidebar]
*/

body.novaro .widget-title{
	font-size:13px;
	line-height:20px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:15px;
	font-weight:700;
	position:relative;
}
.entry-content .widget-title{ letter-spacing:1px; font-weight:bold; font-size:12px; text-align:center; padding-bottom:14px; margin-bottom:20px;}

#sidebar .widget-area{padding:43px 20px; border-width:1px; border-style:solid;}
#sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#sidebar .widget-container{margin-bottom:20px; padding:0 0 0 0;}
#sidebar .widget-container{padding:0px;}

#sidebar li li{list-style-type:none;padding:0px; margin:0 0 15px 0; font-size:13px; font-weight:700;}

#sidebar li li a{}
#sidebar li.widget_archive li a:after, #sidebar li.widget_pages li a:after, #sidebar li.widget_categories li a:after, #sidebar li.widget_meta li a:after, #sidebar li.widget_links li a:after{content:" \2192";}
#sidebar li li a:hover, #sidebar li li a.active{text-decoration:none;}

#sidebar ul.sub-menu, #sidebar ul.children, #sidebar ul ul ul{margin:8px 0 0 15px; }
#sidebar ul.sub-menu li, #sidebar ul.children li, #sidebar ul ul ul li{margin-bottom:4px; padding-bottom:4px; border-bottom:0px; background:transparent;}

/* latest post sidebar */
#subbody .nvr-latest-post-widget li{padding:0px 0px 0px 0px; margin-bottom:10px; clear:both; background:transparent}
#sidebar .nvr-latest-post-widget li img{width:56px;}
#sidebar .nvr-latest-post-widget li a{background:transparent !important; padding:0 !important;  display:inherit}
#sidebar .nvr-latest-post-widget li h6{font-size:13px; line-height:18px; font-weight:700; margin-bottom:5px;}
#sidebar .nvr-latest-post-widget li .smalldate{font-size:12px; line-height:12px; margin-bottom:12px; display:block;}

/* recent comment sidebar */
#sidebar .nvr-recent-comment-widget li{padding-bottom:4px; margin-bottom:10px; clear:both; background:transparent}
#sidebar .nvr-recent-comment-widget a{background:transparent !important; padding:0 !important;  display:inherit}
.nvr-recent-comment-widget a{display:block; overflow:hidden;}


/* search widget */
#searchform{position:relative;}
#searchform .bgsearch{}
#searchform #s{width:auto;}
.widget-container #searchform #s{width:95%;}

/* tag widget */
.tagcloud a{border:solid 1px;padding:3px 6px; margin:0 4px 6px 0; font-size:12px !important; font-weight:500; display:inline-block;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.tagcloud a:hover{}

/*------------------------------------------------------------------
[10. Footer]
*/
#outeraftercontent{padding:30px 0px 32px 0px;}

#footerwrapper{}
#footersidebar{padding:40px 0 0 0;}
#footersidebar ul{list-style-type:none; margin:0; padding:0;}
#footersidebar li.widget-container{list-style-type:none; margin:0 0 34px 0; padding:0; border:0px;}
#footersidebar .widget-title{padding:0; line-height:22px; margin-bottom:16px !important; font-size:14px; letter-spacing:2px; text-transform:uppercase; font-weight:500; text-align:left;}
#footersidebar li li{ padding:0px; margin:0 0 8px 0;list-style-type:none; }
#footersidebar li a{ padding:0px; margin:0px;}
#footersidebar li a:hover{ text-decoration:none;}

#footersidebar ul.sub-menu, #footersidebar ul.children, #footersidebar ul ul ul{margin:0 0 0 10px; }
#footersidebar ul.sub-menu li, #footersidebar ul.children li, #footersidebar ul ul ul li{margin-bottom:2px; padding-bottom:2px; background:transparent;}

/* recent post footer sidebar */
#footersidebar .nvr-latest-post-widget li{padding:0px; margin-bottom:20px; clear:both; background:transparent}
#footersidebar .nvr-latest-post-widget li img{width:56px;}
#footersidebar .nvr-latest-post-widget li h6{font-size:14px; line-height:18px; margin-bottom:5px}
#footersidebar .nvr-latest-post-widget li .smalldate{font-size:12px; line-height:12px; margin-bottom:0px; display:block;}

/* recent comment footer sidebar */
#footersidebar .nvr-recent-comment-widget li{clear:both; background:transparent}
#footersidebar .nvr-recent-comment-widget a{background:transparent !important; padding:0 !important;  display:inherit}


.sn{margin:0; padding:0;display:inline-block;}
.sn li{list-style-type:none; height:30px; width:30px; list-style-type:none; margin:0px 4px 0px 0px; padding:0px; display:inline-block;}
.sn a{display:inline-block; line-height:27px; width:27px; text-align:center; font-size:18px;
	text-decoration:none;
	border-radius:27px;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	transition: color 0.5s, border-color 0.5s;
	-moz-transition: color 0.5s, border-color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s, border-color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s, border-color 0.5s; /* Opera */
}
.sn a:hover{text-decoration:none !important;}
.icon-img{background-position:0px 0px; background-repeat:no-repeat;}

/*** FOOTER ***/
#footer{font-size:13px;}
.copyrightcontainer{padding:15px 0px 25px 0; text-align:center;}
#footer .copyright{padding-top:3px;}
#footer a, #footer a:visited{ font-weight:700;}

#footer .footerright{padding-top:18px;}

#footer .footericon{float:right;}


/*------------------------------------------------------------------
[11. Other Elements]
*/

/* Wysija Mail Poet */
.shortcode_wysija .formError{display:none;}

.quickview-ajax-holder{display:none;}

/* WP-PageNavi  Plugin  */
.wp-pagenavi {clear:both; padding:0px 0 0 0;}
.wp-pagenavi a, .wp-pagenavi a:visited{
	padding:0px 10px !important;
	margin:0 0px 0 0 !important;
	display:inline-block;
	height:23px;
	line-height:23px;
	padding:0 15px;
	border-width:1px 0px 1px 1px !important;
}

.wp-pagenavi a:hover{
	padding:0px 10px !important;
	margin:0 0px 0 0 !important;
	display:inline-block;
	height:23px;
	line-height:23px;
	padding:0 15px;
	border-width:1px 0px 1px 1px !important;

}
.wp-pagenavi span.current{
	padding:0px 10px !important;
	margin:0 0px 0 0 !important;
	font-weight:normal !important;
	display:inline-block;
	height:23px;
	line-height:23px;
	padding:0 15px;
}
.wp-pagenavi .pages{
	padding:0px 10px 0 0 !important;
	margin:0 5px 0 0 !important;
	display:inline-block;
	height:23px;
	line-height:23px;
	padding:0 15px;
	background:transparent;
	border:0px !important;

}

.nvr-pagenavi ul{padding:0px; margin:0px; list-style-type:none;}
.nvr-pagenavi li{padding:0px; margin:0px; list-style-type:none; display:inline-block;}
.nvr-pagenavi li .page-numbers{
	padding:0px 10px; 
	margin-right:5px; 
	line-height:23px; 
	height:23px; 
	font-weight:500; 
	display:inline-block; 
	border-width:1px; 
	border-style:solid;
	transition:background-color 0.4s ease, border-color 0.4s ease;
	-webkit-transition:background-color 0.4s ease, border-color 0.4s ease;
	-moz-transition:background-color 0.4s ease, border-color 0.4s ease;
}
.nvr-pagenavi li .page-numbers:hover, .nvr-pagenavi li .page-numbers.current{font-weight:700;}

/* Flickr Plugin  */
#flickr {text-align:left !important; padding:0}
#flickr img {
	margin:0px!important;
	padding:0px !important;
	width:83px;
	height:83px;
	max-width:100%;
	max-height:100%;
	border:0px solid !important;
	display:block;
}
.flickr_badge_image {
	margin: 0 10px 10px 0px;
	width: 78px;
	height: 78px;
	float: left;
	background: none;
	padding: 0;
}
* html .flickr_badge_image, *+html .flickr_badge_image{display:inline !important}
.flickr_badge_image:hover{}

/* Contact Form  */

.wpcf7 p{margin-bottom:10px;}
.wpcf7 label{display:block; width:80px; float:left;}
.wpcf7 input[type="text"], .wpcf7 input[type="email"]{
	margin-top:6px;
	margin-bottom:12px;
	font-size:14px;
	padding:15px 12px;
	width:100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.wpcf7 textarea{
	margin-top:6px;
	margin-bottom:12px;
	padding:8px 5px;
	font-size:14px;
	width:100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.wpcf7 .label{float:left; width:70px}
.wpcf7-submit{margin:0px 0px 0px 0px !important; width:100%;}

.newslettertext{display:inline-block; font-size:14px; font-weight:700;}
.newslettercontainer{text-align:center;}
.newslettercontainer .formError{display:none;}
.newslettercontainer .shortcode_wysija{display:inline-block;}
.newslettercontainer .wysija-paragraph{margin:0px 8px 0px 25px; display:inline-block; width:400px; max-width:100%;}
.newslettercontainer input.wysija-input{display:inline-block; padding:16px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-size:12px;}
#subbody .newslettercontainer input.wysija-submit{margin:0px; padding:18px 21px; display:inline-block; font-size:12px; line-height:12px;}
#nav_menu-2{position:relative;}
/* list */
ul.customlist{padding:0px;margin:0px;}
ul.customlist li{padding:0px;margin:0px 0px 5px 0px; list-style-type:none;}
.nvr_selector{text-align:left; position:relative; margin-right:0px; width:250px; max-width:none; cursor:pointer; padding:12px 39px 12px 15px;}
.nvr_selector:after{
	content:"\f107";
	font-family:"FontAwesome";
	font-size:18px;
	line-height:18px;
	display:block;
	position:absolute;
	right:12px;
	top:13px;
	
}
.nvr_selector:hover{cursor:pointer;}
.nvr_selector span{font-size:12px; line-height:12px; padding-left:15px;cursor:pointer;}
.nvr_selector select{font-size:18px; position:absolute !important; top:0px; left:0px; -moz-opacity: 0; opacity:0 !important; filter: alpha(opacity=0); cursor:pointer;}
ul.timeline li{
	margin:0px;
	list-style-type:none;
	padding:0px 0px 20px 0px;
	background-image:url(../images/timeline.gif);
	background-repeat:repeat-y;
	background-position:top left;
}
ul.timeline.right li{
	background-position:top right;
}
ul.timeline li.last{
	background:none;
	padding:0px;
}
.headlinebox{padding:25px;}
.entry-content > .wpb_row:last-child{margin-bottom:0px;}
.stripecontainer{
	width: 100%;
	padding: 0px 1000px 0px;
	margin-left: -1000px;
	margin-bottom:35px;
	overflow: hidden;
	position:relative;
	background-position:center center;
}
.entry-content > .stripecontainer:last-child{margin-bottom:0px;}
.stripewrapper{
	z-index:20;
	position:relative;
}
.stripecontainer > .stripewrapper > div.wpb_row:last-child{padding:50px 0px; margin-bottom:0px;}
.nvr.vc_text_separator {margin-bottom:55px;padding-top:20px;}
.nvr.vc_text_separator div {
	padding: 10px 15px;
	position: relative;
	top: -20px;
	font-size:14px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

body.novaro .vc_slide p{margin-bottom:0px;}

.novaro .vc_custom_heading h1,
.novaro .vc_custom_heading h2,
.novaro .vc_custom_heading h3,
.novaro .vc_custom_heading h4,
.novaro .vc_custom_heading h5,
.novaro .vc_custom_heading h6{
	margin:0px;
	line-height:100%;
}

.nvr-trotating ul.slides > li{position:relative;}
.nvr-trotating blockquote{font-family:'Droid Serif', serif; font-size:18px; line-height:28px; padding-top:110px; padding-left:30px; padding-right:30px;}
.nvr-trotating .testiinfo{font-size:13px; font-weight:500;}
.nvr-trotating .testiinfo .testititle{font-size:13px; font-weight:700; letter-spacing:0px;}
.nvr-trotating .testiimg{position:absolute; left:50%; top:0px; margin-left:-37px;}
body.novaro #subbody .nvr-trotating .flex-direction-nav a.flex-prev{bottom:auto; top:125px; margin-left:0px; left:0px; border:0px; background-color:transparent; font-size:30px; padding:0px;}
body.novaro #subbody .nvr-trotating .flex-direction-nav a.flex-prev:hover{left:9px;}
body.novaro #subbody .nvr-trotating .flex-direction-nav a.flex-next{bottom:auto; top:125px; margin-right:0px; right:0px;border:0px; background-color:transparent; font-size:30px; padding:0px;}
body.novaro #subbody .nvr-trotating .flex-direction-nav a.flex-next:hover{right:9px;}

body.novaro .fa, body.novaro .fa:before, body.novaro .fa:after{box-sizing:content-box !important; -moz-box-sizing:content-box !important; -webkit-box-sizing:content-box !important;}

body.novaro .rev_slider_wrapper{overflow:hidden !important;}
body.novaro .vc_custom_heading.headingborder{position:relative;}
body.novaro .vc_custom_heading.headingborder:after{
	content:"";
	height:1px;
	width:82px;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-41px;
}

/* Portfolio */
#filters li, .filterlist li{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	letter-spacing:1px;
	font-size:12px;
	font-weight:500;
	position:relative;
	padding-left:25px;
	padding-right:25px;
}
#filters li:after, .filterlist li:after{content:""; display:block; position:absolute; left:-5px; top:11px; width:1px; height:13px; -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg); background-color:#d5d2d2;}
#filters li.alpha:after, .filterlist li.alpha:after{display:none;}
#filters li a, .filterlist li a{display:inline-block; padding-bottom:4px; border-width:0px 0px 1px; border-style:solid; transition:border-color 0.4s ease; -moz-transition:border-color 0.4s ease; -webkit-transition:border-color 0.4s ease;}
#filters li:hover, .filterlist li:hover, #filters li.selected, .filterlist li.selected{text-decoration:underline;}

.nvr-pf-img::before{top:0px; bottom:0px; left:0px; right:0px;}
.nvr-pf-text .nvr-pf-title{font-size:14px; font-weight:500; letter-spacing:1px; text-transform:uppercase;}
body.novaro .nvr-pf-container .classic .nvr-pf-text .nvr-pf-title{text-align:left;}
body.novaro .nvr-pf-container .classic .nvr-pf-text{border-width:0px;}
body.novaro .nvr-pf-container .grid .nvr-pf-box .nvr-pf-text h2, 
body.novaro .nvr-pf-container .masonry .nvr-pf-box .nvr-pf-text h2{
	font-size:14px;
}
body.novaro .nvr-pf-text .nvr-pf-cat {
    font-size: 13px;
    font-weight: 400;
	font-style:italic;
}
body.novaro .classic .nvr-pf-text .nvr-pf-cat{
	margin-bottom: 24px;
	text-align:left;
}
.nvr-pf-container .grid .nvr-pf-cat, 
.nvr-pf-container .masonry .nvr-pf-cat{

}
.nvr-pf-img a.image, div.frameimg a.image{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
body.novaro .nvr-pf-separator {
    height: 1px;
    opacity: 0.4;
}

/* Portfolio Carousel */
.pcarousel .titlecontainer{border:0px; margin:0px 0px 32px;}
.pcarousel .titlecontainer h3{margin:0px; letter-spacing:2px;}
.pcarousel .titlecontainer h3 span{background-color:transparent; padding:0px 0px 8px; border-width:0px 0px 1px; border-style:solid;}
#subbody .pcarousel.hastitle .flex-direction-nav{top:30%;}
ul.listcarousel{padding:0px; margin:0px;}
ul.listcarousel li{list-style-type:none;padding:0px;}

/* Brand */
.brand{border-width:0px;} 

/* Enjoy Instagram */
.owl-controls{display:none !important;}

/* Grid Image */
.nvr_gridimg{background-position:center;}
.nvr_gridimg .cellcontent{top:45px; bottom:45px; left:45px; right:45px; border:0px;}
.nvr_gridimg .cellcontent > table .tabletd{vertical-align:top; text-align:left;}
.nvr_gridimg .cellcontent > table .tabletd .gridsubtitle{letter-spacing:1px; font-size:12px; margin-bottom:9px; font-weight:500; font-style:normal;}
.nvr_gridimg .cellcontent > table .tabletd .gridtitle{letter-spacing:1px; font-size:32px; line-height:36px; font-weight:700; font-style:normal;}
.nvr_gridimg .cellcontent > table .tabletd .gridlinktext{font-weight:400;}
#zip-inp{
	display: inline-block;
    border-width: 1px;
    padding: 12px 16px;
    color: #777;
    border: solid 1px #e1e1e1;
    margin: 5px;
    width: 90%;
}
#zip-btn{
	background: #000;
    border-color: #000;
    padding: 12px 16px;
   	display: inline-block;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    margin-top: 7px;
    color: #fff;
}
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}